header{
    height: 90px;
    background-color: var(--cor1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 50px;
}
#header-logo{
    width: 20%;
}
#header-logo-img{
    width: 100%;
}
#header-sobre{
    opacity: 50%;
    font-size: 1.22em;
}
#header-sobre:hover{
    opacity: 100%;
    transition: 150ms ease-in-out;
}
@media (max-width: 1024px) {
    header{
        padding: 0 20px;
    }
    #header-logo{
        width: 50%;
    }
}